/* Start Tabs */
::ng-deep .custom-tabs .p-tabview-nav {
  border: none;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding: 16px;
  border-radius: 16px;
  font-family: "Almarai", sans-serif !important;
  margin-top: 2rem;
}

::ng-deep .small-custom-tabs .p-tabview-nav {
  border: none;
  display: flex;
  gap: 10px;
  margin: 5px 0 0 0;
  justify-content: flex-start;
  padding: 16px;
  border-radius: 16px;
  font-family: "Almarai", sans-serif !important;
  background-color: transparent;
}

::ng-deep .custom-tabs .p-tabview-nav li {
  flex: none;
  border-radius: 8px;
  overflow: hidden;
}

::ng-deep .small-custom-tabs .p-tabview-nav li {
  flex: none;
  border-radius: 8px;
  overflow: hidden;
}

::ng-deep .custom-tabs .p-tabview-nav li a {
  text-decoration: none;
  font-size: 14px;
}

::ng-deep .small-custom-tabs .p-tabview-nav li a {
  text-decoration: none;
  font-size: 14px;
}

::ng-deep .small-custom-tabs .p-tabview-nav li .p-tabview-nav-link,
::ng-deep .custom-tabs .p-tabview-nav li .p-tabview-nav-link {
  border: none;
  background: transparent;
  color: var(--gray);
  padding: 6px 16px;
  border-radius: 8px;
  transition: 0.3s;
}

::ng-deep .small-custom-tabs .p-tabview-nav li.p-highlight .p-tabview-nav-link,
::ng-deep .custom-tabs .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: var(--light-purple);
  color: var(--purple);
}

::ng-deep .custom-tabs .p-tabview-panels {
  border: none;
  border-radius: 16px;
  padding: 16px 5px;
  margin-top: 10px;
  background-color: transparent;
}

::ng-deep .small-custom-tabs .p-tabview-panels {
  border: none;
  padding: 10px;
  margin-top: 5px;
  background-color: transparent;
}

/* End Tabs */
