<app-page-header
  [title]="'إدارة الشركاء'"
  [subtitle]="'إدارة شركاء الشركة وملكية الأموال وتوزيع الأرباح'"
  [rtl]="true"
  [showprimaryButton]="true"
  [primaryButton]="{ label: 'توزيع الأرباح', icon: 'pi pi-chart-line' }"
  [showsecondaryButton]="true"
  [secondaryButton]="{ label: 'كل الشركاء', icon: 'pi pi-users' }"
  [showAddButton]="true"
  [addButton]="{ label: 'إضافة شريك', icon: 'pi pi-plus' }"
  ></app-page-header>
  <!--
    (primaryClick)="onDistribute()"
    (secondaryClick)="onShowAllPartners()"
    (addClick)="openAddPartnerModal()" -->
