<app-page-header [title]="'الموردين'" [subtitle]="'إدارة الموردين بواجهة مشابهه للعملاء مع بيانات خاصة بالموردين'"
  [rtl]="true" [showAddButton1]="true" [addButton1]="{ label: 'إضافة مورد', icon: 'pi pi-plus' }"
  (add1Click)="openAddModal()"></app-page-header>


<div class="row mb-2 mt-4">
  <div class="col-md-6 col-lg-4 col-sm-12 mb-sm-1 ">
    <app-card icon="pi pi-wallet" [title]='"إجمالى الموردين"' [value]="5" percentage="مورد مسجل">
    </app-card>
  </div>
  <div class="col-md-6 col-lg-4 col-sm-12 mb-sm-1 ">
    <app-card icon="pi pi-wallet" [title]='"العقود النشطة"' [value]="8" percentage="عقد نشط حاليا">
    </app-card>
  </div>
  <div class="col-md-6 col-lg-4 col-sm-12 mb-sm-1 ">
    <app-card icon="pi pi-wallet" [title]='"أفضل مورد"' [value]="'شركة الموارد الإنشائية'" percentage="18 طلب">
    </app-card>
  </div>
</div>




<div class="bg-round-white">

  <app-page-header [title]="'قائمة الموردين'" [subtitle]="'إدارة بيانات جميع الموردين'" [rtl]="true"></app-page-header>


  <app-custom-table [data]="suppliers" [columns]="supplierColumns" [showCheckbox]="false" [showActions]="true"
    [showEye]="true" [showPencil]="true" [showTrash]="false" [showDownload]="true"></app-custom-table>

</div>

























<app-form-module *ngIf="showModal" [title]="'مورد'" [subtitle]="'المورد'" [fields]="supplierFields"
  [formData]="isEditMode ? selectedSupplier : null" [disabledFields]="isEditMode ? ['email', 'supplierName'] : []"
  [submitText]="isEditMode ? 'تعديل' : 'إضافة'" (formSubmit)="isEditMode ? updateSupplier($event) : addSupplier($event)"
  (cancel)="closeForm()"></app-form-module>
