<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<app-page-header
  [title]="'المقاولين'"
  [subtitle]="'إدارة ملفات المقاولين والعقود'"
  [rtl]="true"
  [showAddButton1]="true"
  [addButton1]="{ label: 'إضافة مقاول', icon: 'pi pi-plus' }"
  (add1Click)="openAddModal()">
</app-page-header>


<div class="row mb-2 mt-4">
  <div class="col-md-6 col-lg-3 col-sm-12 mb-sm-1 ">
    <app-card icon="pi pi-wallet" [title]='"إجمالى المقاولين"' [value]="3"></app-card>
  </div>
  <div class="col-md-6 col-lg-3 col-sm-12 mb-sm-1 ">
    <app-card icon="pi pi-wallet" [title]='"العقود النشطة"' [value]="2"></app-card>
  </div>
  <div class="col-md-6 col-lg-3 col-sm-12 mb-sm-1 ">
    <app-card icon="pi pi-wallet" [title]='"المدفوعات المتأخرة"' [value]="1"></app-card>
  </div>
  <div class="col-md-6 col-lg-3 col-sm-12 mb-sm-1 ">
    <app-card icon="pi pi-wallet" [title]='"إجمالى العقود"' [value]="348000" [currency]="'ر.س'"></app-card>
  </div>
</div>


<div class="bg-round-white">
  <app-page-header [title]="'قائمة المقاولين'" [subtitle]="'إدارة بيانات جميع المقاولين'" [rtl]="true"></app-page-header>

  <app-custom-table
    [data]="contractors"
    [columns]="contractorColumns"
    [showCheckbox]="false"
    [showActions]="true"
    [showEye]="false"
    [showPencil]="true"
    [showTrash]="true"
    (edit)="openEditModal($event)"
    (delete)="deleteContractor($event)">
  </app-custom-table>
</div>


<!-- 🔹 مودال الفورم -->
<app-form-module
  *ngIf="showModal"
  [title]="'مقاول'"
  [subtitle]="'المقاول'"
  [fields]="contractorFields"
  [formData]="isEditMode ? selectedContractor : null"
  [submitText]="isEditMode ? 'تعديل' : 'إضافة'"
  (formSubmit)="isEditMode ? updateContractor($event) : addContractor($event)"
  (cancel)="closeForm()">
</app-form-module>
