<table class="custom-table">
  <thead>
    <tr>
      <th *ngIf="showCheckbox">
        <input type="checkbox" />
      </th>

      <th *ngFor="let col of columns" [hidden]="col.show === false">
        {{ col.header }}
      </th>

      <th *ngIf="showActions">الإجراءات</th>
    </tr>
  </thead>

  <tbody>
    <!-- <tr *ngFor="let row of data"> -->
    <tr *ngFor="let row of paginatedData">
      <td *ngIf="showCheckbox">
        <input type="checkbox" />
      </td>

      <td *ngFor="let col of columns" [hidden]="col.show === false" [ngClass]="getCellClass(col, row[col.field])">
        <!-- نوع العمود -->
        <ng-container [ngSwitch]="col.type">

          <!-- نص عادي -->
          <span *ngSwitchCase="'text'" [ngClass]="col.styleClass">{{ row[col.field] }}</span>

          <!-- عملة -->
          <span *ngSwitchCase="'currency'" class="currency">{{ row[col.field] }} ر.س</span>

          <!-- تاريخ -->
          <span *ngSwitchCase="'date'">{{ row[col.field] | date:'yyyy-MM-dd' }}</span>

          <!-- حالة -->
          <!-- <span *ngSwitchCase="'status'" [ngClass]="getStatusClass(row[col.field])">
            {{ row[col.field] }}
          </span> -->
          <span *ngSwitchCase="'status'" [ngClass]="getStatusData(row[col.field]).class">
  {{ getStatusData(row[col.field]).label }}
</span>




          <!-- صورة -->
          <img *ngSwitchCase="'image'" [src]="getFullImageUrl(row[col.field])" alt="Client Image" width="60" height="60"
            style="border-radius: 8px; object-fit: cover;" />

          <!-- افتراضي -->
          <span *ngSwitchDefault>{{ row[col.field] }}</span>
        </ng-container>
      </td>

      <!-- الإجراءات -->
      <td *ngIf="showActions">
        <button (click)="onView(row)" *ngIf="showActions && showEye" class="action-btn"><i
            class="pi pi-eye"></i></button>
        <button (click)="onEdit(row)" *ngIf="showActions && showPencil" class="action-btn"><i
            class="pi pi-pencil"></i></button>
        <button (click)="onDelete(row)" *ngIf="showActions && showTrash" class="action-btn"><i
            class="pi pi-trash"></i></button>
        <button (click)="onDownload(row)" *ngIf="showActions && showDownload" class="action-btn"><i
            class="pi pi-download"></i></button>
      </td>
    </tr>
  </tbody>
</table>


<!-- Pagination -->
<div *ngIf="showPagination && totalPages > 1" class="pagination-container">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1" class="page-btn">السابق</button>

  <div class="pages">
    <button
      *ngFor="let page of [].constructor(totalPages); let i = index"
      (click)="goToPage(i + 1)"
      [class.active]="currentPage === i + 1"
      class="page-number"
    >
      {{ i + 1 }}
    </button>
  </div>

  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages" class="page-btn">التالي</button>
</div>





<!-- <app-custom-table
  [data]="employees"
  [columns]="employeeColumns"
  [showCheckbox]="true"
  [showActions]="true"
  [showEye]="true"
  [showPencil]="true"
  [showTrash]="true"
  [showDownload]="true"
    (view)="onView($event)"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)"
  (download)="onDownload($event)">
></app-custom-table> -->


