<div class="notification-panel">
  <div class="notification-header p-2 border-bottom">
    <h5 class="m-0">الإشعارات</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="toggleNotification()"></button>
  </div>
  <div class="notification-body p-1">
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
    <p>لا توجد إشعارات جديدة.</p>
  </div>


    <div *ngIf="false" class="NoNotification p-2">
    <p>لا توجد إشعارات جديدة.</p>
  </div>
</div>
